<div class="row g-3 invoice-item mb-4 border p-3 rounded bg-light">
  <div class="col-md-4">
    {{ item.description.label(class="form-label") }}
    {{ item.description(class="form-control", required=True) }}
  </div>
  <div class="col-md-2">
    {{ item.weight.label(class="form-label") }}
    {{ item.weight(class="form-control", required=True) }}
  </div>
  <div class="col-md-2">
    {{ item.rate.label(class="form-label") }}
    {{ item.rate(class="form-control", required=True) }}
  </div>
  <div class="col-md-3">
    {{ item.due_date.label(class="form-label") }}
    {{ item.due_date(class="form-control", required=True) }}
  </div>
  <div class="col-md-1 d-flex align-items-end">
    <button type="button" class="btn btn-danger remove-item w-100">✕</button>
  </div>
</div>
